# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.old

# logs
*.log

# eclipse conf file
.settings/
.settings

# building
target
tmp*
dist

# other scm
.svn
.CVS
.hg*
# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
db/

# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.old
*.pdf

# logs
*.log

# eclipse conf file
.settings
.settings/
.classpath
.project
.springBeans


# building
target
tmp*
dist
test-output

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/


